.quiz, .score{
    display: none;
}
.quiz ul{
    list-style: none;

    
}
.selected{
    background-color:white;
    color: red;
    padding: 10px;
}
.quiz li:hover{
    color: yellow;
    justify-content: space-around;

}
body{
    text-align: center;
    margin-top: 250px;

}
#text{
    background-color: white;
    border: solid red;
    padding: 50px;
    justify-content: center;
    color: blue;
    font-weight: bold;
}

